<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="header">
            <a href="https://rowleylab.github.io/"><img border="0" alt="Rowley Lab" src="images/Logo_XLong.png" height="175px"></a><br>
        </div>

		<div class="container">
			{{ content }}

		</div><!-- /.container -->
		<div class="footer">
			<div class="f1">
				<a href="https://www.suu.edu/" target="_blank"><img border="0" alt="SUU.edu" src="images/Primary-Wordmark-Line-fullcolor.jpg" height="100px"></a>
			</div>
			<div class="f2">
				<h3>Rowley Research Lab Contact:</h3>
				
                <p>phone: 435-586-7875</p>
				<p>email: matthewrowley1@suu.edu</p>
			</div>		
		</div>
	</body>
</html>
